

<div class="container">
  <div class="container-content-about">

    <div class="about-masseuse">
    <h1>About the Masseuse</h1>

    <p>We are a yoga studio and massage spa in Seminole Heights, Tampa offering classes in yoga as as well as relaxing massage sessions. We provide a safe environment in a spiritually grounded setting for people interested in growth, healing and community.

    At Jai Dee we believe yoga doesn’t have to be something intimidating, exotic or complicated. The essence of yoga boils down to the practice of being present in the moment. By practicing yoga poses and observing your breath, you can learn to pay attention to what’s going on right now rather than dwelling on the past or the future. Life’s richness lies here in the present and that’s something worth pursuing, even if it is sometimes challenging!</p>

    <p>We are a yoga studio and massage spa in Seminole Heights, Tampa offering classes in yoga as as well as relaxing massage sessions. We provide a safe environment in a spiritually grounded setting for people interested in growth, healing and community.

    At Jai Dee we believe yoga doesn’t have to be something intimidating, exotic or complicated. The essence of yoga boils down to the practice of being present in the moment. By practicing yoga poses and observing your breath, you can learn to pay attention to what’s going on right now rather than dwelling on the past or the future. Life’s richness lies here in the present and that’s something worth pursuing, even if it is sometimes challenging!</p>

    </div>

    <div class="massage-info">
      <div id="pointer">
        <p>Massages</p>
      </div>

      <div class="list-unstyled massage-list">

        <div class="massage-description">
          <h3>Swedish</h3>
          <p>Soothing massage that relaxes the body</p>
          <p>30 min - $50</p>
        </div>


        <div class="massage-description">
           <h3>Sport</h3>
          <p>Soothing massage that relaxes the body</p>
          <p>30 min - $60</p>
        </div>
        <div class="massage-description">
           <h3>Deep Tissue</h3>
          <p>Soothing massage that relaxes the body</p>
          <p>60 min - $80</p>
        </div>



    </div>
    <button type="button" class="btn btn-primary">Book a massage</button>

    <div class="massage-price-list">


    </div>
  </div>
</div>


